.header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    background-color: whitesmoke;
}
.header div {
    margin: 0 15px;
    font-size: 14px;
    font-weight: bold;
}
.header div a {
    text-decoration: none;
    color: black;
}
.header div a:hover {
    color: rgba(74, 61, 61, 0.806);
}       
.body {
    display: flex;
    justify-content: center;
    align-items: center;     
    min-height: 100vh;
    margin: 0;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.image-container {
    position: relative;
    width: 800px;
    height: 600px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.image-container img {
    transform: scale(1.05);
    transition: transform 0.5s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;  
    transition: transform 0.5s ease;

}   
.image-container:hover overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: background-color 0.5s ease;   
}       
.image-container .overlay-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-family: cursive, sans-serif;
}
.image-container:hover img {
    transform: scale(1.1);
}
.image-container:hover.overlay-text {
    opacity: 1;
}   
.image-container:hover .overlay {
    background: rgba(0, 0, 0, 0.6);
}
